<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/feedback/add">Add New Feedback</a> | 
			<a href="/feedback">All Feedback List</a>
		</div>	
		<h1><%= title %></h1>
